<h1 class="bg-primary text-white text-center">{{title}}</h1>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>