<div>
    <div class="mb-2">
        <button type="button" class="btn d-block btn-sm btn-secondary ml-auto" routerLink="/contact/home/">Home</button>
    </div>

    <h3>{{currentOp}}</h3>

    
    <form [formGroup]="contactForm" (submit)="submitForm()">

        <div class="form-group">
            <label>First Name</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && CC.firstName.errors }" >
            
            <div *ngIf="submitted && CC.firstName.errors" class="invalid-feedback">
                <div *ngIf="CC.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && CC.lastName.errors }"
            >

            <div *ngIf="submitted && CC.lastName.errors" class="invalid-feedback">
                <div *ngIf="CC.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" pattern="[0-9]+" title="please enter number only" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && CC.phone.errors }" >

            <div *ngIf="submitted && CC.phone.errors" class="invalid-feedback">
                <div *ngIf="CC.phone.errors.required">Phone is required(only numbers)</div>
                <div *ngIf="CC.phone.errors.minlength">minimum 10 digits(only numbers)</div>
                <div *ngIf="CC.phone.errors.maxlength">maximum 12 digits(only numbers)</div>
            </div>
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && CC.email.errors }" >

            <div *ngIf="submitted && CC.email.errors" class="invalid-feedback">
                <div *ngIf="CC.email.errors.required">Email is required</div>
                <div *ngIf="CC.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" >{{currentOp}}</button>
    </form>
</div>