<div>
    <div class="mb-2">
        <button type="button" class="btn d-block btn-sm btn-secondary ml-auto" routerLink="/contact/home/">Home</button>
        
        <button type="button" class="btn d-block btn-primary mr-auto" routerLink="/contact/create/">Create new contact</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.id}}</td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-info" [routerLink]="['/contact/update/', contact.id]">Update</button>
                    <button type="button" class="btn btn-sm btn-info ml-2" (click)="deleteUser(contact.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>